@import "nib"

.vm_page
    overflow auto
    display none
    .vm_container
        width 1200px
        padding 50px
        margin 25px auto
        border 1px solid #acacac
        position relative
        border-radius: 5px
        //border-radius 5px
        background-color #fafafa
        //background linear-gradient(center top, #fafafa, #dedede)
        //background linear-gradient(top, #ffffff, 5% #f5f5f5, 95% #f1f1f1);
        .vm_title
            width 1150px
            height 175px
            border 1px solid #777
            margin auto
            background #FFFFFF
            border-radius 25px
            box-shadow 0 3px 5px rgba(0,0,0,0.4)
            .vm_title_text
                font-size 50px
                font-weight bold
                text-align center
                margin 50px 0
                color #00467f

        .vm_developer
            absolute left 75px top 300px
            .vm_icon, .vm_button
                background linear-gradient(top, rgba(104,167,216,1), rgba(0,70,127,1))
        .vm_admin
            absolute right 75px top 300px
            .vm_icon, .vm_button
                background linear-gradient(top, rgba(224, 125, 140, 1) , rgba(153, 13, 34, 1))


        .vm_developer, .vm_admin
            width 500px
            border 1px solid #777
            border-radius 25px
            box-shadow 0 3px 5px rgba(0,0,0,.4);
            .vm_button
                width 200px
                border-radius 25px
                box-shadow 0 3px 5px rgba(0, 0, 0, .4)
                margin-top 50px
                &.vm_highlight
                    box-shadow 0 3px 5px rgba(0, 0, 0, .7)
            .vm_icon
                border-radius 25px 25px 0 0
            .vm_label
                margin auto
                border 1px solid #acacac
                padding 20px 0
                //width 125px
                text-align center
                font-size 24px
                color #f7f7f7
                text-shadow #555 2px 2px
                cursor pointer
                user-select none
                &.vm_highlight
                    border-color #666666
                    text-shadow #111 2px 2px
            .vm_info
                border-radius 5px
                //padding 20px 20px
                width 400px
                font-size 18px
                margin 50px auto
                text-align justify
                line-height 25px


.vm_tutorial
    absolute top 0 left 0
    border-right 1px solid #777
    overflow auto
    background linear-gradient(left, #fff, #eee)
    font-size 14px
    .vm_minimize
        position fixed
        background    linear-gradient(top, rgba(235,235,235,1), rgba(202,202,202,1));
        height 75px
        border-radius 0 5px 5px 0
        .z_button
            border-top 30px solid transparent
            border-bottom 30px solid transparent
            border-right 12px solid #444
            border-left none
            margin-left 0;
        &.vm_collapsed .z_button
            border-left 12px solid #666
            border-right none
    &> li.vm_item.vm_top

        list-style none
        &> .vm_desc
            margin auto
            display block
            font-size 30px
            padding 10px 0
            color #00467F
            font-weight bold
            text-decoration underline
        &> ul.vm_hook
            display block
            margin-left 5px

    .vm_item:not(.vm_top)
        margin 7px 0
        .vm_desc
            &.vm_large
                font-size 24px
                color #00467F
            &.vm_med
                font-size 20px
                color #00467F
            &.vm_small
                font-size 16px
                color #00467F
            &.vm_std
                font-size 14px
            &.vm_strikeout
                opacity .4
                text-decoration line-through
            img
                vertical-align middle;
            user-select none
            color black
            cursor pointer
            font-weight bold
            &.vm_highlight
                background-color #c1c1c1
            .ui-icon
                display    inline-block
                relative   top 2px
        .vm_container
            display none
            margin-bottom 25px

    .vm_item
        strong
            font-size 12px
        ul.vm_bullet
            list-style disc outside
        ol
            list-style decimal outside
        .vm_text
            line-height 20px
            p
                text-align: justify;
                margin: 12px;
            div.vm_text_bullet
                list-style disc outside
                display list-item
                margin-left 30px
                margin-bottom 12px
            ul,ol
                margin-left 20px
            img.vm_newline
                width 400px
                margin-left 20px

