<li class="vm_item {{#if top}}vm_top{{/if}}" style="margin-left:{{margin}}px">

    <span class="vm_desc {{size}}">
        {{{obj.desc}}}
        {{#unless top}}
            <span class="ui-icon ui-icon-triangle-1-{{#if show}}s{{else}}e{{/if}}"></span>
        {{/unless}}
    </span>
    <div class="vm_container" {{#if show}}style="display:block;"{{/if}}>
        {{#if obj.text}}
            <span class="vm_text">
                {{#each obj.text}}
                    <p>
                        {{{this}}}
                    </p>
                {{else}}
                    <p>
                        {{{obj.text}}}
                    </p>
                {{/each}}
            </span>
        {{/if}}

        {{#if obj.std}}
            <ul class="vm_hook"></ul>
        {{/if}}
        {{#if obj.ol}}
            <ol class="vm_hook"></ol>
        {{/if}}
        {{#if obj.ul}}
            <ul class="vm_hook vm_bullet"></ul>
        {{/if}}
    </div>
</li>